/*---------------
        fonts
 -------------- */
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

 /*-------------------
     Base Styles
  ------------------ */
  body{
    font-family: 'Poppins', sans-serif;
    background-color: white;
  }

/*-------------------
      Banner  
 -------------------*/
.banner{
    background-color: #2D25A0;
    height: 690px;
    display: grid;
    align-items: center;
  
}

.banner-items{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 102px;
   
}
.banner-items p{
    font-size: 60px;
    font-weight: bold;
    color: white;
    margin-left: 156px;
}
#banner-items-button{
    padding: 10px 24px;
    background-color: #E02C6D;
    color: white;
    font-size: 16px;
    align-items: flex-start;
    margin-left: 156px;
    margin-top: -28px;
    border: none;
    text-decoration: none;
}

.fa-arrow-right{
    margin-left:8px;
    width: 16px;
    height: 14px;
    color: white;
}
.banner-items img{
    width: 556px;
    height: 438px;
}

/*-------------------
     Animation
 -------------------*/
.banner-items:hover.banner-items img{
    transform: rotate(30deg);
    
}
.banner-items img{
    transition: 1s ease,  1s, transform 10s;
}

/*------------------
 Top Player design
 --------------------- */
 .container{
    margin-top: 76px;
}
.players{
       display: flex;
       column-gap: 30px;
       justify-content: center;
       margin-top: 27px;
}
.player{
   box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
   width: 330px;

}
.player img{
    width: 300px;
    padding: 15px ;
    height: 256px;
}
.player-name{
    font-size: 28px;
    margin-top: -5px;
    margin-left: 15px;
}
.player-info p{
    margin-left: 15px;
    font-size: 16px;
    margin-top: -15px;
    
}

