
body{
    background-color: whitesmoke;
}
h2{
    margin: auto ;
    padding: auto;
    color: aquamarine;
    display: block;
    text-align: center;  
}
div{
    height: 500px;
    width: 320px;
    padding: 10px;
    border: 5px solid gray;
    margin: 0;
}
.newDiv{
    display: inline;
    height: 200px;
    width: 320px;
    padding: 10px;
    border: 5px solid rgb(168, 12, 12);
    margin: 10;
}